<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="
        http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">


    <bean id="post" class="com.in30minutes.SimplePost" ></bean>
    <bean id="postList" class="com.in30minutes.SimplePostList" ></bean>

    <bean id="user" class="com.in30minutes.SimpleUser" >
        <property name="postList" ref="postList"></property>
    </bean>


</beans>